@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
}

nav {
	display: flex;
	justify-content: center;
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	width: 90%;
}

#menu ul {
	list-style-type: none;
}

#menu li a,
#menu li img {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 38px;
}

#menu ul li a {
	color: #ffffff;
	text-decoration: none;
}

#menu ul li:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	cursor: pointer;
}

#menu-left {
	display: flex;
	gap: 120px;
}

#menu-right {
	display: flex;
	align-items: center;
	gap: 40px;
}

main {
	display: flex;
	width: 100vw;
	justify-content: center;
	flex-wrap: wrap;
}

#movie-info {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin-left: 100px;
}

h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 6.1em;
	line-height: 166px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: -30px;
}

h2 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2.7em;
	line-height: 69px;
	letter-spacing: 0.01em;
}

.bold {
	font-weight: 700;
	text-transform: uppercase;
}

#info {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 50px;
}

#resumo {
	width: 490px;
}

#resumo p {
	color: #ffffff;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.3em;
	letter-spacing: 0.01em;
	text-align: justify;
}

#stars {
	margin: 30px 0;
}

button {
	display: flex;
	border: none;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background: #24a3ff;
	border-radius: 35px;
	color: #fff;
	font-weight: 700;
	font-size: 1.1em;
	line-height: 33px;
	letter-spacing: 0.01em;
	width: 238px;
	height: 60px;
}

a {
	position: relative;
	top: 5px;
	color: #ffffff;
	font-size: large;
}

#watch-now {
	display: flex;
	color: #ffffff;
	align-items: center;
	flex-direction: row;
	gap: 20px;
}
#watch-now a {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 33px;
	letter-spacing: 0.01em;
	text-decoration-line: underline;
	color: #24a3ff;
	
}

footer {
	flex-wrap: wrap;
}

#filmes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	margin-top: 60px;
}

#nextFilmes {
	cursor: pointer;
	background: rgba(103, 101, 113, 0.24);
	border: 0.957587px solid rgba(245, 245, 245, 0.1);
	backdrop-filter: blur(14.3638px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 10px;
	width: 90%;
}

#nextFilmes img {
	width: 275px;
	height: 195px;
	transition: ease-out 0.5s;
}

#nextFilmes img:hover {
	scale: 1.02;
	transition: ease-in 0.5s;
}

#next-movies-tittle h2 {
	color: #ffffff;
	font-style: normal;
	font-weight: 700;
	font-size: 1.4em;
	line-height: 45px;
	letter-spacing: 0.01em;
}

#show-movies {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
