@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
/*Vamos tentar fazer com mobile first, mas vamos ter que adaptar aquele layout para o Mobile*/
body {
	background: linear-gradient(180deg, #3a2f79 0%, rgba(6, 42, 96, 0) 186px),
		url(./images/background.png) no-repeat;
	background-position: center -5px;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}
nav {
	display: flex;
	justify-content: center;
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	width: 90%;
}
#menu ul {
	list-style-type: none;
}
#menu li a,
#menu li img {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 38px;
}
#menu ul li a {
	color: #ffffff;
	text-decoration: none;
}
#menu ul li:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	cursor: pointer;
}
#menu-left {
	display: flex;
	gap: 120px;
}
#menu-right {
	display: flex;
	align-items: center;
	gap: 40px;
}
